*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    min-width: 1500px;
}

header {
    display: flex;
    background: black;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
    align-items: center;
    z-index: 10;
    min-width: 1500px;
}

#logo-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

#logo {
    color: white;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}

nav {
    flex: 1.5;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    flex: 1;
    cursor: pointer;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}

.btn {
    margin-top: 50px;
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}

.axisHome {
    color: white;
}

.titleHome {
    fill: white;
    font-size: 50px;
}

.container {
    padding-top: 80px;
}

.content {
    margin-top: 50px;
}

#home {
    min-height: 100vh;
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
    font-size: 3em;
}

#home-tournaments {
    min-height: 100vh;
    background-color: rgb(15, 21, 29);
}

#home-games {
    min-height: 96vh;
    background-color: #01232c;
}

#game-content1,
#tournament-content1 {
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    display: flex;
    grid-template-areas: "image" "description";
}

#game-content2,
#tournament-content2 {
    display: flex;
    grid-template-areas: "chart" "trailer";
    min-width: 1470px;
}

#tournament-content3 {
    display: flex;
    padding: 10px 50px 10px 50px;
    grid-template-areas: "description" "chart";
    min-width: 1470px;
}

#chart-game-earning,
#chart-tournament-earning,
#chart-genre-earning {
    grid-area: "chart";
}

#game-trailer,
#tournament-trailer {
    grid-area: "trailer";
}

#game-image,
#tournament-image {
    grid-area: "image";
    margin-top: 30px;
}

#game-description,
#tournament-description,
#tournament-chart-description {
    grid-area: "description";
    width: 100%;
    justify-content: center;
    padding: 50px;
    text-align: justify;
    line-height: 1.6;
    color: white;
    min-width: 600px;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 4vh;
}
