#side-bar {
    width: 400px;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

#time-line-container,
#videogame-genre-list-container {
    border: 2px solid black;
    margin: 20px;
    background-color:  rgb(179, 199, 235);
}

#time-line-container h3,
#videogame-genre-list-container h3 {
    text-align: center;
    margin: 20px;
}

#videogame-genre-list {
    list-style: none;
}

#videogame-genre-list li {
    margin: 5px;
}

#videogame-genre-list li label {
    margin-left: 15px;
}

#time-line {
    margin-top: 5px;
}