* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 90, 145);
}

#container {
    margin-left: 400px;
    position: relative;
}


#title {
    min-width: 1480px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 51, 100);
    color: white;
    border: 2px solid black;
}

#title h1 {
    margin: 15px;
}

#chart-year-earning,
#chart-game-earning {
    border: 2px solid black;
    margin: 20px;
    min-width: 1480px;
    background-color:  rgb(179, 199, 235);
}

/*@media only screen and (max-width: 1910px) {
    #side-bar {
      display: none;
    }

    #container {
        margin-left: 0;
    }
}*/