* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 21, 29);
}

#content {
    margin-top: 90px;
}

.chart {
    margin: 20px;
    min-width: 1480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 4vh;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}